.App-logo {
  height: 45px;
  pointer-events: none;
}

.popup-el{
  max-width:50px;
  max-height:50px;
}
.ed-fa, .ex-fa {
  margin : 1px 5px 1px 5px;
  cursor: pointer;
}
.ed-fa :hover {
  color:yellow;
}
.ex-fa :hover {
  color:red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
